// This file has CSS rules for managing screens of different sizes

// context for screen widths:
// The 13inch macbook pro default resolution is 1440px wide
//      ...at other resolutions, it ranges between 1024px and 1680px
// giant retina displays go up all the way to 5120px across
// mobile phones devices widths range between ~320px at the smallest
// to ~800px for the largest / highest resolution
// tablets fall in a middle range
// see more about screen sizes at http://screensiz.es/

// our strategy in general for managing screen widths is
// - default styles apply to large screens
// - add additional styles for screens smaller than certain max-widths with media queries below
// - that often means _hiding_ elements for small screens that don't belong

// large but not the largest screens
@media(max-width:1220px) {
    section {
        margin-right: 0;
    }

    nav.shortcuts {
        label {
            display: none;
        }
    }
}


// tablets and smaller
@media(max-width:768px) {

    // hides the left navigation by default
    aside {
        display: none;
    }

    #navigation label {
        display: none;
    }

    footer {
        display: none;
    }

    section {
        margin: 0;
        padding: 1rem 2rem;
    }

    header {
        padding: 0 1rem;

        nav.shortcuts {

            li .fa {
                margin: 0;
            }

            label {
                display: none;
            }
        }
    }

    article img {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    article {
        margin: 0;

        p {
            margin: 0.5rem 0;
        }
    }
}

@media(max-width:480px) {
    .search {
        display: none;
    }
}