// Rules for managing screens of different sizes
// context for screen widths
// for context, the 13inch mbpro default resolution is 1440px wide
//      ...at other resolutions, it ranges between 1024px and 1680px
// mobile phones devices widths range between ~320px to ~800 for the largest / highest resolution
// tablets fall in a middle range

// our strategy in general for managing screen widths is
// - default styles apply to large screens
// - add additional styles for screens smaller than certain max-widths with media queries below
// - that often means _hiding_ elements for small screens that don't belong

// large but not the largest screens
@media(max-width:1024px) {
    section {
        margin-right: 0;
    }
}


// tablets and smaller
@media(max-width:768px) {
    article {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        aside {
            display: none;
        }

        section.page {
            margin: 0 0;
            padding: 1rem;
        }

        section.page #navigation label {
            display: none;
        }
    }

    footer {
        display: none;
    }

    section {
        margin: 0;
        padding: 1rem 2rem;
    }

    header {
        padding: 0 1rem;

        nav.shortcuts {

            li a {
                width: 3.5rem
            }

            li .fa {
                margin: 0;
            }

            li>a>label {
                display: none;
            }

            li>a {
                max-width: 32px;
            }

            label {
                display: none;
            }
        }
    }

    .nav-select {
        display: block;
        margin-left: -10px;
        margin-right: -10px;
    }

    .nav-select select {
        display: block;
    }

    article img {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}