/* replaces ttt-callout  */
blockquote {
  /* position: fixed;
  bottom: 35px;
  right: 20px; */
  /* margin-left: 20px; */
  /* max-width: 300px; */
  padding: 2rem 2rem;
  background-color: #e0f6fc;
  border: 4px solid #00b3e6;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* ttt-callout header */
/* no longer in use */
/*.ttt-callout .ttt-callout-header {
  font-family: "--apple-system", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  padding: 1rem 0 2rem;
  font-size: 2.15rem;
  line-height: 1.8rem;
  font-weight: lighter;
  color: black;
}


.ttt-callout ul {
  padding: 0 1.5rem;
}

.ttt-callout ul li {
  margin: 0.5rem 0;
}
*/

/* adding this line to test a push again ... and again*/

.ttt-highlight {
  padding: 0 0 0 1rem;
  border-left: 4px solid #00b3e6;
  margin: 0 0 1rem;
}

.img-attribution {
  font-size: .8rem;
  font-style: italic;
}

.expand-label {
  margin: 0.85rem 0 1.7rem 0;
  font-family: "--apple-system", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  /* padding: 1rem 0 2rem; */
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: black;
  text-indent: -.5rem;

  i.fa.fa-chevron-right {
    text-indent: -.9rem;
  }

  i.fa.fa-chevron-down {
    text-indent: -1rem;
  }
}